pipeline/azde_project_top_grossing_movies.json
{
	"name": "azde_project_top_grossing_movies",
	"properties": {
		"activities": [
			{
				"name": "Lookup Movies File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "azdeb_highest_grossing_movies",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Check Dataset is not Empty",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lookup Movies File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(activity('Lookup Movies File').output, 'firstRow')\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Error Message",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": "The movies dataset is empty or missing."
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Blob to ADLS Copy File",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ""
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "azdeb_highest_grossing_movies",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "azde_highest_grossing_movies",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Success Message",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Delete Blob File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": "The File is Copied from Blob to ADLS and the File in Blob is Deleted Successfully"
							}
						},
						{
							"name": "Delete Blob File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Blob to ADLS Copy File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "azdeb_highest_grossing_movies",
									"type": "DatasetReference"
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Error Message Copy",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Blob to ADLS Copy File",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": "Blob to ADLS Copy Activity Failed"
							}
						},
						{
							"name": "Error Message Delete",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Delete Blob File",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "status",
								"value": "Blob to ADLS Copy Activity Success. Failed to Delete File from Blob"
							}
						}
					]
				}
			},
			{
				"name": "Error Message Lookup",
				"description": "",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup Movies File",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": "File not Found"
				}
			},
			{
				"name": "Status Email 404",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Error Message Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Authorization": "api:99fad02ef61bd3950ddbdc8a68852a97-1b5736a5-36fa4c5e"
					},
					"url": {
						"value": "https://api.mailgun.net/v3/mail.cyboz.org/messages?from=adf@mail.cyboz.org&to=mathew.midhun002@gmail.com&subject=Top%20Grossing%20Movies%20Pipeline%20Execution%20Status&text=@{variables('status')}",
						"type": "Expression"
					},
					"body": {
						"value": "@variables('status')",
						"type": "Expression"
					},
					"authentication": {
						"type": "Basic",
						"username": "api",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Status Email",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Simple Wait",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Authorization": "api:99fad02ef61bd3950ddbdc8a68852a97-1b5736a5-36fa4c5e"
					},
					"url": {
						"value": "https://api.mailgun.net/v3/mail.cyboz.org/messages?from=adf@mail.cyboz.org&to=mathew.midhun002@gmail.com&subject=Top%20Grossing%20Movies%20Pipeline%20Execution%20Status&text=@{variables('status')}",
						"type": "Expression"
					},
					"body": {
						"value": "@variables('status')",
						"type": "Expression"
					},
					"authentication": {
						"type": "Basic",
						"username": "api",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Simple Wait",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Check Dataset is not Empty",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-30T02:56:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}