pipeline/sqlbackup_cyboz_demo.json
{
	"name": "sqlbackup_cyboz_demo",
	"properties": {
		"activities": [
			{
				"name": "Trigger Server File to Generate Backup",
				"description": "Trigger Server File (db_backup.php) to Generate Backup",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Filename Before Backup",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://cyboz.in/db_backup.php"
				}
			},
			{
				"name": "Filename After Backup",
				"description": "Fetch Filename from JSON After Backup",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Trigger Server File to Generate Backup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://cyboz.in/backups_dump/file.json"
				}
			},
			{
				"name": "Filename Before Backup",
				"description": "Fetch Filename from JSON Before Backup",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://cyboz.in/backups_dump/file.json"
				}
			},
			{
				"name": "Backup File URL",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Filename After Backup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "backup_file_url",
					"value": {
						"value": "@concat('https://cyboz.in/backups_dump/', activity('Filename After Backup').output.filename)\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"file_name": {
				"type": "String"
			},
			"old_file_name": {
				"type": "String"
			},
			"new_file_name": {
				"type": "String"
			},
			"backup_file_url": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-09-26T04:09:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}